<footer>
	<div class="container footer">
		<div class="row">
			<div class="col-md-4">
				<{$web.friends_link}>
			</div>
			<div class="col-md-8">
				<{$web.footer_text}>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="copyright text-center">
					<{$web.copyright}>
					<a href="__ROOT__/admin.php" style="color:black">E</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/js/main.js"></script>
</body>
</html>